
email_validator==2.2.0
filelock==3.13.4
Flask==3.0.3
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2

SQLAlchemy==2.0.29
WTForms==3.1.2

