{% extends 'base.html' %}

{% block content %}
<h1>Register</h1>
<form method="POST" action="{{ url_for('auth.register') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username() }}
    </div>
    <div>
        {{ form.email.label }}
        {{ form.email() }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password() }}
        {% if form.password.errors %}
           <span style="color:red;">{{ form.password.errors[0] }}</span>
        {% endif %}
    </div>
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}